<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" class="rel">
  <title>Flights</title>
</head>
<body>
  <nav>
    <img class="logo" src=""/>
    <a class= "home" href="/">Home</a>
    <a class= "new" href="/flights/new">New Flight</a>
    <a class="all" href="/flights">All Flights</a>
  </nav>
  <main>