<%- include('../partials/header') %>

  <div class="newForm ticketForm">
    <h1>Ticket Information</h1>
    <section class= "ticket-details"></section>
    <form method="POST" action='/flights/<%= flight %>/tickets'>
    <label> Pick Seat Assignment:</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <br/>
    <br/>
    <label>Price:</label>
    <input name="price" type="number" min="0">
    <br/>
    <br/>
    <input type ="submit" value="Add Ticket">
    </form>
  </div>

<%- include('../partials/footer') %>