<%- include('partials/header') %>
  <div class="titlepage">
    <h1 class="title"><%= title %></h1>
    <p class="subtitle">Book your flight</p>
    <p class="subtitle">select where you would like to navigate to.</p>
  </div>


<%- include('partials/footer') %>